doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
  body
    h1= title
    h2 documentation 
    ul 
      li GET /api/media
      li GET /api/media/:id
      li POST /api/media
      li PUT /api/media/:id
      li DELETE /api/media/:id
      li GET /api/user
      li GET /api/user/:id
      li POST /api/user
      li PUT /api/user/:id
      li DELETE /api/user/:id